services:
  ombi:
    image: lscr.io/linuxserver/ombi:development
    restart: unless-stopped
    networks:
      ombi__user_network:
        gw_priority: 0
      tipi_main_network:
        gw_priority: 1
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: ${TZ}
      BASE_URL: /ombi
    ports:
      - ${APP_PORT}:3579
      - ${APP_PORT}:3579
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
      - /etc/localtime:/etc/localtime:ro
    labels:
      runtipi.managed: true
      runtipi.appurn: ombi:_user
    hostname: ombi
networks:
  tipi_main_network:
    name: runtipi_tipi_main_network
    external: true
  ombi__user_network:
    name: ombi__user_network
    external: false
    ipam:
      config:
        - subnet: 10.128.34.0/24

