services:
  ombi:
    image: lscr.io/linuxserver/ombi:development
    restart: unless-stopped
    networks:
      - tipi_main_network
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: ${TZ}
      BASE_URL: /ombi
    ports:
      - ${APP_PORT}:3579
      - ${APP_PORT}:3579
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
      - /etc/localtime:/etc/localtime:ro
    labels:
      runtipi.managed: true
      runtipi.appurn: ombi:_user
    hostname: ombi
