services:
  ombi:
    image: lscr.io/linuxserver/ombi:development
    restart: unless-stopped
    networks:
      airconnect__user_network:
        gw_priority: 0
      tipi_main_network:
        gw_priority: 1
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: ${TZ}
      BASE_URL: /ombi
    ports:
      - ${APP_PORT}:3579
      - ${APP_PORT}:3579
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
      - /etc/localtime:/etc/localtime:ro
    labels:
      runtipi.managed: true
      runtipi.appurn: airconnect:_user
    hostname: ombi
  airconnect:
    image: 1activegeek/airconnect
    restart: unless-stopped
    network_mode: host
    environment:
      PUID: "1000"
      PGID: "1000"
      TZ: ${TZ}
      AIRCAST_VAR: user=root -x /config/config.xml -I -f /config/airconnect.log -l
        1000:2000 -d all=info
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
      - /etc/localtime:/etc/localtime:ro
    labels:
      runtipi.managed: true
      runtipi.appurn: airconnect:_user
    hostname: airconnect
networks:
  tipi_main_network:
    name: runtipi_tipi_main_network
    external: true
  airconnect__user_network:
    name: airconnect__user_network
    external: false
    ipam:
      config:
        - subnet: 10.128.31.0/24

