services:
  stremio-server:
    image: stremio/server:v4.20.16
    restart: unless-stopped
    networks:
      - tipi_main_network
    environment:
      NO_CORS: ${NO_CORS}
      CASTING_DISABLED: ${CASTING_DISABLED:-1}
      #PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin    
    ports:
      - 0.0.0.0:11470:11470/tcp
      - 0.0.0.0:12470:12470/tcp
      - ${APP_PORT}:11470
    devices:
      - "/dev/dri/card0:/dev/dri/card0"
      - "/dev/dri/renderD128:/dev/dri/renderD128"
    volumes:
      - ${APP_DATA_DIR}/data/stremio-server:/root/.stremio-server
    labels:
      runtipi.managed: true
      runtipi.appurn: stremio-server:tipi-store
